.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 60%;
  margin: auto;
}

.no-pokemon,
.loading {
  font-size: 20px;
  text-align: center;
}
