.pokemon-container {
  background: linear-gradient(to bottom, #95a3a4, #7299a5);
  width: 270px;
  height: auto;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
  box-sizing: border-box;
  margin: auto;
  margin-top: 15px;
  border: 10px solid #ffe173;
}
.pokemon-container:hover {
  transform: scale(1.1);
}
.pokemon-name {
  color: #ffff;
  font-weight: 900;
  font-size: 20px;
}
.pokemon-image {
  width: 180px;
  height: 150px;
}
.pokemon-height,
.pokemon-weight,
.pokemon-types {
  font-size: 13px;
  font-weight: 900;
  color: #ffff;
}

.pokemon-types {
  display: flex;
  gap: 5px;
  padding-bottom: 10px;
}
span:not(:last-child)::after {
  content: '/';
  margin: 1px;
}
span:last-child::after {
  content: none;
}
